
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
form, ul, li, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
img {
    border: 0 none;
}
ul, li {
    list-style-type: none;
}
.normalfont {
    font-family: "宋体",Arial;
    font-size: 12px;
}
.contactfont {
    font-family: "宋体",Arial;
    font-size: 12px;
    line-height: 20px;
}
#top {
    background-image: url("http://img01.51jobcdn.com/im/2009/areabg.gif");
    background-repeat: repeat-x;
    clear: both;
    margin: 0 auto;
    width: 1002px;
}
#arealogo, .labelbt, #logobg {
    float: left;
}
.labelbt {
    margin-left: 10px;
    margin-top: 20px;
}
#areaver {
    float: left;
    line-height: 13px;
    margin-left: 15px;
    margin-top: 12px;
}
#areaver span {
    display: block;
    line-height: 24px;
}
.loginname {
    color: #0263C1;
    float: left;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 15px;
    margin-left: 8px;
    margin-top: 12px;
}
.navbt {
    background-color: #F9F9F9;
    border: 1px solid #EFEEF3;
    float: right;
    height: 22px;
    margin-left: 15px;
    margin-right: 6px;
    margin-top: 8px;
}
.navbt img {
    vertical-align: middle;
}
.navbt li {
    float: left;
    font-size: 12px;
    margin: 5px 5px 5px 7px;
    text-align: center;
    vertical-align: middle;
}
.orareg {
    color: #FF7300;
}
.navbtbg li {
    float: right;
}
.bts {
    margin-top: 4px;
}
.btshow {
    margin-top: -4px;
    position: relative;
}
.menu2 {
    background-image: url("http://img01.51jobcdn.com/im/2009/menu2bg.gif");
    background-repeat: repeat-x;
    height: 31px;
    padding-left: 15px;
    padding-top: 4px;
}
.menu_2 li {
    float: left;
    font-size: 12px;
    line-height: 14px;
    margin: 4px;
}
.arrow_ps {
    text-align: center;
}
.menu2none {
    font-size: 0;
    height: 10px;
    padding-left: 15px;
}
.menu1 {
    height: 22px;
}
#bottom {
    clear: both;
    margin: 0 auto;
    width: 1002px;
}
.bott1 {
    background-image: url("http://img01.51jobcdn.com/im/2009/resumebottombg.gif");
    background-repeat: repeat-x;
    color: #333333;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 1002px;
}
.btext li {
    float: left;
    font-family: "宋体";
    font-size: 12px;
    padding: 5px;
    vertical-align: middle;
}
.btext {
    margin-left: 155px;
    padding-top: 12px;
}
#copyright {
    background-color: #F8F6F7;
    border-bottom: 2px solid #F7F7F7;
    padding: 15px;
    width: 972px;
}
.fontright {
    color: #333333;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}
.clearboth {
    clear: both;
}
.maincenter {
    clear: both;
    margin: 0 auto;
    width: 1002px;
}
.mainleft {
    margin-left: 19px;
}
.btname {
    margin-left: 20px;
    padding-top: 3px;
}
.btname2 {
    padding-top: 6px;
}
.graybttop {
    background-image: url("http://img01.51jobcdn.com/im/2009/graybtbg.gif");
    background-repeat: repeat-x;
    border-bottom: 1px solid #C8C8C8;
    height: 27px;
}
.graytop {
    background-image: url("http://img01.51jobcdn.com/im/2009/graytbg.gif");
    background-repeat: repeat-x;
    height: 6px;
}
.graybott {
    background-image: url("http://img01.51jobcdn.com/im/2009/graybbg.gif");
    background-repeat: repeat-x;
    height: 6px;
}
.grayline {
    background-color: #F8F8F8;
    border-left: 1px solid #C8C8C8;
    border-right: 1px solid #C8C8C8;
}
.graybttopbg {
    background-color: #F8F8F8;
    padding-bottom: 6px;
}
.bluebttop {
    background-image: url("http://img01.51jobcdn.com/im/2009/bluebtbg.gif");
    background-repeat: repeat-x;
    border-bottom: 1px solid #266FBB;
    height: 25px;
}
.bluetop {
    background-image: url("http://img01.51jobcdn.com/im/2009/bluetbg.gif");
    background-repeat: repeat-x;
    height: 6px;
}
.bluebott {
    background-image: url("http://img01.51jobcdn.com/im/2009/bluebbg.gif");
    background-repeat: repeat-x;
    height: 6px;
}
.blueline {
    background-color: #EEF7FE;
    border-left: 1px solid #266FBB;
    border-right: 1px solid #266FBB;
}
.bluebttopbg {
    background-color: #EEF7FE;
    padding-bottom: 6px;
}
.redbttop {
    background-image: url("http://img01.51jobcdn.com/im/2009/redbtbg.gif");
    background-repeat: repeat-x;
    border-bottom: 1px solid #FE8929;
    height: 25px;
}
.greenbttop {
    background-image: url("http://img01.51jobcdn.com/im/2009/greenbtbg.gif");
    background-repeat: repeat-x;
    border-bottom: 1px solid #0C7A3B;
    height: 25px;
}
.redtop {
    background-image: url("http://img01.51jobcdn.com/im/2009/redtbg.gif");
    background-repeat: repeat-x;
    height: 6px;
}
.redbott {
    background-image: url("http://img01.51jobcdn.com/im/2009/redbbg.gif");
    background-repeat: repeat-x;
    height: 6px;
}
.redline {
    background-color: #FCEFE7;
    border-left: 1px solid #FE8929;
    border-right: 1px solid #FE8929;
}
.redline2 {
    border-left: 1px solid #FE8929;
    border-right: 1px solid #FE8929;
}
.redbttopbg {
    background-color: #FCEFE7;
    padding-bottom: 6px;
}
.itbttop {
    background-image: url("http://img01.51jobcdn.com/im/2009/it/bluebtbg.gif");
    background-repeat: repeat-x;
    border-bottom: 1px solid #1082A4;
    height: 25px;
}
.ittop {
    background-image: url("http://img01.51jobcdn.com/im/2009/it/bluetbg.gif");
    background-repeat: repeat-x;
    height: 6px;
}
.itbott {
    background-image: url("http://img01.51jobcdn.com/im/2009/it/bluebbg.gif");
    background-repeat: repeat-x;
    height: 6px;
}
.itline {
    background-color: #EDFFFF;
    border-left: 1px solid #1082A4;
    border-right: 1px solid #1082A4;
}
.itbttopbg {
    background-color: #EDFFFF;
    padding-bottom: 6px;
}
.schoolbttop {
    background-image: url("http://img01.51jobcdn.com/im/2009/school/greenbtbg.gif");
    background-repeat: repeat-x;
    border-bottom: 1px solid #61BF23;
    height: 25px;
}
.schooltop {
    background-image: url("http://img01.51jobcdn.com/im/2009/school/greentbg.gif");
    background-repeat: repeat-x;
    height: 6px;
}
.schoolbott {
    background-image: url("http://img01.51jobcdn.com/im/2009/school/greenbbg.gif");
    background-repeat: repeat-x;
    height: 6px;
}
.schoolline {
    background-color: #E2FECB;
    border-left: 1px solid #61BF23;
    border-right: 1px solid #61BF23;
}
.schoolbttopbg {
    background-color: #E2FECB;
    padding-bottom: 6px;
}
.advancebttop {
    background-image: url("http://img01.51jobcdn.com/im/2009/advance/dgraybtbg.gif");
    background-repeat: repeat-x;
    border-bottom: 1px solid #707070;
    height: 25px;
}
.advancetop {
    background-image: url("http://img01.51jobcdn.com/im/2009/advance/dgraytbg.gif");
    background-repeat: repeat-x;
    height: 6px;
}
.advancebott {
    background-image: url("http://img01.51jobcdn.com/im/2009/advance/dgraybbg.gif");
    background-repeat: repeat-x;
    height: 6px;
}
.advanceline {
    background-color: #EDEDED;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
}
.advancebttopbg {
    background-color: #EDEDED;
    padding-bottom: 6px;
}
.advancearticlebttop {
    background-image: url("http://img01.51jobcdn.com/im/2009/advance/dgraybtbg.gif");
    background-repeat: repeat-x;
    border-bottom: 1px solid #707070;
    height: 25px;
}
.advancearticletop {
    background-image: url("http://img01.51jobcdn.com/im/2009/cls/dgrayarticletbg.gif");
    background-repeat: repeat-x;
    height: 6px;
}
.advancearticlebott {
    background-image: url("http://img01.51jobcdn.com/im/2009/cls/dgrayarticlebbg.gif");
    background-repeat: repeat-x;
    height: 6px;
}
.advancearticleline {
    background-color: #F9F9F9;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}
.trainbttop {
    background-image: url("http://img01.51jobcdn.com/im/2009/train/dgreenbtbg.gif");
    background-repeat: repeat-x;
    border-bottom: 1px solid #20844E;
    height: 25px;
}
.traintop {
    background-image: url("http://img01.51jobcdn.com/im/2009/train/dgreentbg.gif");
    background-repeat: repeat-x;
    height: 6px;
}
.trainbott {
    background-image: url("http://img01.51jobcdn.com/im/2009/train/dgreenbbg.gif");
    background-repeat: repeat-x;
    height: 6px;
}
.trainline {
    background-color: #F2FDF7;
    border-left: 1px solid #20844E;
    border-right: 1px solid #20844E;
}
.trainbttopbg {
    background-color: #F2FDF7;
    padding-bottom: 6px;
}
.trainarticlebt {
    padding-top: 5px;
}
.xyarticlebt {
    padding-top: 5px;
}
.itarticlebt {
    padding-top: 5px;
}
.blackbttop {
    background-repeat: repeat-x;
    height: 26px;
}
.blackbott {
    height: 8px;
}
.flashwall_backgroud1 {
    background-image: url("http://img01.51jobcdn.com/im/2009/area/1-2.png");
    height: 327px;
}
.flashwall_backgroud2 {
    background-image: url("http://img01.51jobcdn.com/im/2009/area/2-2.png");
    background-repeat: no-repeat;
    height: 327px;
}
.blackline {
    padding-left: 10px;
    padding-top: 10px;
}
a.font_show:link {
    color: #333333;
    font-family: "宋体";
    font-size: 12px;
    text-decoration: none;
}
a.font_show:visited {
    color: #7E817E;
    font-family: "宋体";
    font-size: 12px;
    text-decoration: none;
}
a.font_show:hover {
    color: #FF7300;
    font-family: "宋体";
    font-size: 12px;
    text-decoration: none;
}
a:link {
    color: #333333;
    font-family: "宋体";
    font-size: 12px;
    text-decoration: none;
}
a:visited {
    color: #7E817E;
    font-family: "宋体";
    font-size: 12px;
    text-decoration: none;
}
a:hover {
    color: #FF7300;
    font-family: "宋体";
    font-size: 12px;
    text-decoration: none;
}
a.nov:link {
    color: #333333;
    font-size: 12px;
    text-decoration: none;
}
a.nov:visited {
    color: #333333;
    font-size: 12px;
    text-decoration: none;
}
a.nov:hover {
    color: #FF7F2C;
    font-size: 12px;
    text-decoration: none;
}
a.white:link {
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: underline;
}
a.white:visited {
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: underline;
}
a.white:hover {
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: none;
}
a.red:link {
    color: #FF0000;
    font-size: 12px;
    text-decoration: none;
}
a.red:visited {
    color: #FF0000;
    font-size: 12px;
    text-decoration: none;
}
a.red:hover {
    color: #FF0000;
    font-size: 12px;
    text-decoration: underline;
}
a.orange:link {
    color: #FF7300;
    font-size: 12px;
    text-decoration: none;
}
a.orange:visited {
    color: #FF7300;
    font-size: 12px;
    text-decoration: none;
}
a.orange:hover {
    color: #FF7300;
    font-size: 12px;
    text-decoration: underline;
}
a.orange1:link {
    color: #FF7300;
    font-size: 12px;
    text-decoration: underline;
}
a.orange1:visited {
    color: #FF7300;
    font-size: 12px;
    text-decoration: none;
}
a.orange1:hover {
    color: #FF7300;
    font-size: 12px;
    text-decoration: underline;
}
.orange1 {
    color: #FF7300;
}
a.orange2:link {
    color: #FF7300;
    font-size: 14px;
    text-decoration: none;
}
a.orange2:visited {
    color: #FF7300;
    font-size: 14px;
    text-decoration: none;
}
a.orange2:hover {
    color: #FF7300;
    font-size: 14px;
    text-decoration: underline;
}
a.black:link {
    color: #333333;
    font-size: 12px;
    text-decoration: underline;
}
a.black:visited {
    color: #333333;
    font-size: 12px;
    text-decoration: underline;
}
a.black:hover {
    color: #FF7300;
    font-size: 12px;
    text-decoration: none;
}
a.black1:link {
    color: #333333;
    font-size: 13px;
    text-decoration: none;
}
a.black1:visited {
    color: #333333;
    font-size: 13px;
    text-decoration: none;
}
a.black1:hover {
    color: #FF7300;
    font-size: 13px;
    text-decoration: none;
}
a.blue:link {
    color: #266EBA;
    font-size: 12px;
    text-decoration: none;
}
a.blue:visited {
    color: #266EBA;
    font-size: 12px;
    text-decoration: none;
}
a.blue:hover {
    color: #266EBA;
    font-size: 12px;
    text-decoration: underline;
}
a.blue1:link {
    color: #1381A3;
    font-size: 12px;
    text-decoration: none;
}
a.blue1:visited {
    color: #1381A3;
    font-size: 12px;
    text-decoration: none;
}
a.blue1:hover {
    color: #1381A3;
    font-size: 12px;
    text-decoration: underline;
}
a.blue2:link {
    color: #1A95E2;
    font-size: 12px;
    text-decoration: none;
}
a.blue2:visited {
    color: #1A95E2;
    font-size: 12px;
    text-decoration: none;
}
a.blue2:hover {
    color: #1A95E2;
    font-size: 12px;
    text-decoration: underline;
}
a.green:link {
    color: #007236;
    font-size: 12px;
    text-decoration: none;
}
a.green:visited {
    color: #007236;
    font-size: 12px;
    text-decoration: none;
}
a.green:hover {
    color: #007236;
    font-size: 12px;
    text-decoration: underline;
}
a.green1:link {
    color: #005825;
    font-size: 12px;
    text-decoration: none;
}
a.green1:visited {
    color: #005825;
    font-size: 12px;
    text-decoration: none;
}
a.green1:hover {
    color: #005825;
    font-size: 12px;
    text-decoration: underline;
}
a.green2:link {
    color: #5CB018;
    font-size: 14px;
    text-decoration: none;
}
a.green2:visited {
    color: #5CB018;
    font-size: 14px;
    text-decoration: none;
}
a.green2:hover {
    color: #5CB018;
    font-size: 14px;
    text-decoration: underline;
}
a.green3:link {
    color: #5CB018;
    font-size: 12px;
    text-decoration: none;
}
a.green3:visited {
    color: #5CB018;
    font-size: 12px;
    text-decoration: none;
}
a.green3:hover {
    color: #5CB018;
    font-size: 12px;
    text-decoration: underline;
}
.anbg {
    background-color: #E7E7E7;
    background-image: url("http://img01.51jobcdn.com/im/2009/selean.gif");
    border-color: #FFFFFF;
    border-right: 0 solid #FFFFFF;
    border-style: solid;
    border-width: 0;
    color: #333333;
    font-family: "宋体",arial,verdana,helvetica,sans-serif;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
    width: 86px;
}
.anbg2 {
    background-color: #F5F5F5;
    background-image: url("http://img01.51jobcdn.com/im/2009/selean1.gif");
    border-color: #FFFFFF;
    border-right: 0 solid #FFFFFF;
    border-style: solid;
    border-width: 0;
    color: #333333;
    font-family: "宋体",arial,verdana,helvetica,sans-serif;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
    width: 86px;
}
.choose {
    background-color: #E7E7E7;
    background-image: url("http://img01.51jobcdn.com/im/2009/btn_choose.gif");
    border-color: #FFFFFF;
    border-right: 0 solid #FFFFFF;
    border-style: solid;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    font-family: "宋体",arial,verdana,helvetica,sans-serif;
    font-size: 12px;
    height: 25px;
    margin-top: 5px;
    width: 128px;
}
.anbg1 {
    background-color: #E7E7E7;
    background-image: url("http://img01.51jobcdn.com/im/2009/it/sele.gif");
    border-color: #FFFFFF;
    border-right: 0 solid #FFFFFF;
    border-style: solid;
    border-width: 0;
    color: #333333;
    font-family: "宋体",arial,verdana,helvetica,sans-serif;
    font-size: 12px;
    height: 30px;
    margin-top: 1px;
    width: 70px;
}
.selebg {
    background-color: #E7E7E7;
    background-image: url("http://img01.51jobcdn.com/im/2009/area/selem.gif");
    border-color: #FFFFFF;
    border-right: 0 solid #FFFFFF;
    border-style: solid;
    border-width: 0;
    color: #333333;
    font-family: "宋体",arial,verdana,helvetica,sans-serif;
    font-size: 12px;
    height: 25px;
    margin-top: 5px;
    width: 143px;
}
.selebg1 {
    background-color: #E7E7E7;
    background-image: url("http://img01.51jobcdn.com/im/2009/area/selem2.gif");
    border-color: #FFFFFF;
    border-right: 0 solid #FFFFFF;
    border-style: solid;
    border-width: 0;
    color: #333333;
    font-family: "宋体",arial,verdana,helvetica,sans-serif;
    font-size: 12px;
    height: 25px;
    margin-top: 5px;
    width: 187px;
}
.selebg2 {
    background-color: #E7E7E7;
    background-image: url("http://img01.51jobcdn.com/im/2009/area/selem.gif");
    border-color: #FFFFFF;
    border-right: 0 solid #FFFFFF;
    border-style: solid;
    border-width: 0;
    color: #333333;
    font-family: "宋体",arial,verdana,helvetica,sans-serif;
    font-size: 12px;
    height: 25px;
    width: 143px;
}
.selebgqz {
    background-color: #E7E7E7;
    background-image: url("http://img01.51jobcdn.com/im/2009/area/selemqz.gif");
    border-color: #FFFFFF;
    border-right: 0 solid #FFFFFF;
    border-style: solid;
    border-width: 0;
    color: #333333;
    font-family: "宋体",arial,verdana,helvetica,sans-serif;
    font-size: 12px;
    height: 25px;
    margin-top: 5px;
    width: 120px;
}
.kt_bg1 {
    background-image: url("http://img01.51jobcdn.com/im/2009/lab1.gif");
    background-repeat: no-repeat;
    cursor: pointer;
    height: 22px;
    padding-top: 3px;
    text-align: center;
    width: 67px;
}
.kt_bg2 {
    background-image: url("http://img01.51jobcdn.com/im/2009/lab2.gif");
    background-repeat: no-repeat;
    color: #FF7300;
    cursor: pointer;
    font-weight: bold;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    width: 67px;
}
.kt_bg3 {
    background-image: url("http://img01.51jobcdn.com/im/2009/lab3.gif");
    background-repeat: no-repeat;
    cursor: pointer;
    height: 22px;
    padding-top: 3px;
    text-align: center;
    width: 67px;
}
.search {
    background-color: #FFFFFF;
    background-image: url("http://img01.51jobcdn.com/im/2009/searchbg.gif");
    background-position: 5px center;
    background-repeat: no-repeat;
    border: 1px solid #A5A5A7;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    margin-top: 5px;
    padding-left: 22px;
    padding-top: 4px;
    width: 185px;
}
.search1 {
    background-color: #FFFFFF;
    background-image: url("http://img01.51jobcdn.com/im/2009/searchbg.gif");
    background-position: 5px center;
    background-repeat: no-repeat;
    border: 1px solid #A5A5A7;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    padding-left: 22px;
    padding-top: 5px;
    width: 100px;
}
.search2 {
    background-color: #FFFFFF;
    background-image: url("http://img01.51jobcdn.com/im/2009/searchbg.gif");
    background-position: 5px center;
    background-repeat: no-repeat;
    border: 1px solid #A5A5A7;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    margin-top: 5px;
    padding-left: 22px;
    padding-top: 5px;
    width: 173px;
}
.search3 {
    background-color: #FFFFFF;
    background-image: url("http://img01.51jobcdn.com/im/2009/searchbg.gif");
    background-position: 5px center;
    background-repeat: no-repeat;
    border: 1px solid #A5A5A7;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    margin-top: 5px;
    padding-left: 22px;
    padding-top: 5px;
    width: 305px;
}
.search4 {
    background-color: #FFFFFF;
    background-image: url("http://img01.51jobcdn.com/im/2009/searchbg.gif");
    background-position: 5px center;
    background-repeat: no-repeat;
    border: 1px solid #A5A5A7;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    padding-left: 22px;
    padding-top: 5px;
    width: 200px;
}
.search5 {
    background-color: #FFFFFF;
    background-image: url("http://img01.51jobcdn.com/im/2009/searchbg.gif");
    background-position: 5px center;
    background-repeat: no-repeat;
    border: 1px solid #A5A5A7;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    padding-left: 22px;
    padding-top: 5px;
    width: 100px;
}
.search6 {
    background-color: #FFFFFF;
    background-image: url("http://img01.51jobcdn.com/im/2009/searchbg.gif");
    background-position: 5px center;
    background-repeat: no-repeat;
    border: 1px solid #A5A5A7;
    font-size: 14px;
    font-weight: bold;
    height: 17px;
    margin-top: 2px;
    padding-left: 25px;
    width: 145px;
}
.search7 {
    background-color: #FFFFFF;
    background-image: url("http://img01.51jobcdn.com/im/2009/searchbg.gif");
    background-position: 5px center;
    background-repeat: no-repeat;
    border: 1px solid #A5A5A7;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    line-height: 23px;
    margin-top: 5px;
    padding-left: 25px;
    width: 485px;
}
.searchmy {
    background-color: #FFFFFF;
    background-image: url("http://img01.51jobcdn.com/im/2009/searchbg.gif");
    background-position: 5px center;
    background-repeat: no-repeat;
    border: 1px solid #A5A5A7;
    height: 22px;
    line-height: 30px;
    margin-top: 8px;
    padding-left: 25px;
    width: 230px;
}
.searchxy {
    background-color: #FFFFFF;
    background-image: url("http://img01.51jobcdn.com/im/2009/searchbg.gif");
    background-position: 5px center;
    background-repeat: no-repeat;
    border: 1px solid #A5A5A7;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    padding-left: 22px;
    padding-top: 5px;
    width: 160px;
}
.top_login_head {
    background-image: url("http://img01.51jobcdn.com/im/2009/bbs/btbg.gif");
    background-repeat: repeat-x;
    height: 28px;
}
.top_login_content {
    background-image: url("http://img01.51jobcdn.com/im/2009/bbs/kbg.gif");
    background-repeat: repeat-x;
    color: #666666;
    font-family: "宋体";
    font-size: 12px;
    height: 150px;
}
.top_login_container {
    border: 1px solid #92959C;
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    width: 283px;
}
.top_login_name {
    color: #FF7300;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
}
.top_login_close {
    float: right;
    padding: 5px;
}
.top_login_btn {
    background-color: #E7E7E7;
    background-image: url("http://img01.51jobcdn.com/im/2009/bbs/anbg.gif");
    border-color: #FFFFFF;
    border-right: 0 solid #FFFFFF;
    border-style: solid;
    border-width: 0;
    color: #FF7300;
    cursor: pointer;
    font-family: "宋体",arial,verdana,helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
    margin-top: 15px;
    width: 56px;
}
.top_login_input {
    height: 18px;
    width: 110px;
}
#top_login_form_validate_tips {
    color: red;
}
#top_login_form td {
    vertical-align: middle;
}
.zz_51High {
    background-color: #FFA22E;
    color: #FFFFFF;
}
.zz_51Lower {
    background-color: #FFFFFF;
    color: #000000;
}
.zz_51LowerGray {
    background-color: #F3F2F2;
    color: #000000;
}
.zz_51LowerYellow {
    background-color: #FEFFEF;
    color: #000000;
}
.jobLayer {
    font-size: 12px;
}
.jobLayer .title td {
    background: url("http://img01.51jobcdn.com/im/2009/search/title_layer.gif") repeat scroll 0 0 transparent;
    color: #FFFFFF;
    height: 34px;
    vertical-align: top;
}
.orange {
    color: #FF7400;
    font-size: 14px;
    text-decoration: underline;
}
.jobLayer .title img, .jobLayer .title span {
    float: left;
    margin: 7px 0 0;
}
.jobLayer .title .ccType {
    float: right;
    margin: 7px 20px;
}
.jobLayer .title .ccType span {
    float: none;
    margin: 0;
}
.jobLayer .bigOrange {
    color: #FF7400;
    font-size: 14px;
    font-weight: bold;
}
.jobLayer .gray {
    background-color: #F7F7F7;
}
.jobLayer .blackBold {
    color: #000000;
    font-weight: bold;
    padding-top: 3px;
    vertical-align: top;
}
.jobLayer .cityOrange {
    color: #FF7400;
    font-size: 14px;
    font-weight: bold;
    padding-top: 3px;
    vertical-align: top;
}
.jobLayer .jlSeprator {
    background: url("http://img01.51jobcdn.com/im/2009/search/bgclear_bot.gif") repeat scroll 0 0 transparent;
    height: 5px;
}
.jobLayer td {
    height: 20px;
    padding-left: 3px;
}
.jobLayer .bottomLine {
    background-color: #FF7400;
}
.jobLayer .bottomLine td {
    height: 4px;
}
.subLayer {
    background-color: #FEFFEF;
    border: 1px solid #FF7B00;
}
.jobLayer .bgGray {
    background-color: #F6F6F6;
}
.sitemap_bt {
    margin: 0 auto;
    width: 900px;
}
.sitemap_left, .sitemap_center, .sitemap_right {
    float: left;
    font-family: "宋体";
    font-size: 12px;
    margin-right: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    width: 270px;
}
.site_com {
    background-color: #FFFFFF;
    height: 850px;
    margin-left: 6px;
    width: 260px;
}
.site_bt {
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
}
.site_title02 {
    color: #5CB018;
    font-size: 14px;
    font-weight: bold;
}
.site_title01 {
    color: #FF5800;
    font-size: 14px;
    font-weight: bold;
}
a.site_title:link {
    color: #5CB018;
    font-size: 14px;
    font-weight: bold;
}
a.site_title:visited {
    color: #5CB018;
    font-size: 14px;
    font-weight: bold;
}
a.site_title:hover {
    color: #5CB018;
    font-size: 14px;
    font-weight: bold;
}
a.site_blue:link {
    color: #1974DF;
    font-size: 14px;
    font-weight: bold;
}
a.site_blue:visited {
    color: #1974DF;
    font-size: 14px;
    font-weight: bold;
}
a.site_blue:hover {
    color: #1974DF;
    font-size: 14px;
    font-weight: bold;
}
a.site_red:link {
    color: #FF5800;
    font-size: 14px;
    font-weight: bold;
}
a.site_red:visited {
    color: #FF5800;
    font-size: 14px;
    font-weight: bold;
}
a.site_red:hover {
    color: #FF5800;
    font-size: 14px;
    font-weight: bold;
}
.ctus {
    font-family: Arial,"宋体";
    font-size: 12px;
    line-height: 23px;
}
.us_ml p {
    margin-left: 5px;
}
.us_ml p span {
    margin-right: 5px;
}
.abus {
    font-family: "宋体";
    font-size: 12px;
    line-height: 20px;
    text-indent: 2em;
}
.abus1 {
    font-family: "宋体";
    font-size: 12px;
    line-height: 20px;
}
.srleft, .srright {
    float: left;
}
.srleft {
    margin-left: 20px;
    margin-right: 30px;
    width: 207px;
}
.srcom {
    background-color: #FFFFFF;
    margin-left: 6px;
    width: 193px;
}
.srcom div {
    padding: 10px;
}
.srcom p {
    line-height: 20px;
    margin-left: 20px;
}
.r_bt {
    background-image: url("http://img01.51jobcdn.com/im/2009/bo/r_bt.gif");
    background-repeat: no-repeat;
    font-size: 14px;
    font-weight: bold;
    height: 26px;
    padding-left: 40px;
    width: 717px;
}
.medialeft, .mediaright {
    float: left;
}
.medialeft {
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 10px;
    width: 207px;
}
.htr {
    border-style: dashed none none;
    border-top: 1px dashed #CCCCCC;
    border-width: 1px;
}
.mediaright {
    width: 705px;
}
.media_com {
    background-color: #FFFFFF;
    margin-left: 6px;
    width: 193px;
}
.media_name {
    padding: 10px;
}
.mediaright td {
    font-size: 12px;
    line-height: 20px;
}
.mediaarrow {
    margin-left: 28px;
}
.mediaarrow li {
    background-image: url("http://img01.51jobcdn.com/im/2009/bo/arrow.gif");
    background-position: 0 5px;
    background-repeat: no-repeat;
    font-size: 12px;
    line-height: 20px;
    list-style-type: none;
    text-indent: 22px;
}
blockquote {
    font-family: "宋体";
    font-size: 12px;
    line-height: 20px;
}
blockquote li {
    margin-left: 40px;
}
.esearchhr_li li {
    height: 20px;
    margin-left: 20px;
    text-align: left;
}
.hr_com {
    background-color: #FFFFFF;
    margin-left: 0;
    width: 190px;
}
.or {
    color: #FF7300;
}
.arts_right_title {
    color: #333333;
    font-family: "宋体";
    font-size: 14px;
    font-weight: 700;
    height: 20px;
    line-height: 23px;
    padding-left: 42px;
    vertical-align: middle;
}
.arts_left_column {
    padding-bottom: 10px;
}
.arts_cls {
    font-family: "宋体";
    font-size: 12px;
    margin-left: 10px;
    width: 92%;
}
.arts_page {
    font-size: 14px;
}
.arts_page li a {
    font-size: 14px;
    font-weight: normal;
    text-decoration: underline;
}
.arts_page li {
    float: left;
    font-weight: bold;
    height: 22px;
    line-height: 22px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
}
.arts_right_column {
    line-height: 20px;
    width: 710px;
}
.arts_city_table {
    font-family: "宋体";
    font-size: 12px;
}
.arts_city_table td {
    line-height: 24px;
}
.arts_city_area {
    border-bottom: 1px solid #FF7200;
    color: #FF7200;
    font-size: 12px;
    font-weight: 700;
    height: 28px;
    line-height: 28px;
    padding-left: 15px;
    padding-top: 4px;
}
.arts_city_area a {
    color: #FF7200;
}
.article_right_column {
    padding-bottom: 10px;
}
.arts_hot_top_title {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 1px;
    padding-top: 10px;
    text-align: center;
    word-break: break-all;
    word-wrap: break-word;
}
.arts_hot_top_content {
    font-size: 12px;
    line-height: 17px;
    padding-left: 5px;
    text-indent: 2em;
    word-break: break-all;
    word-wrap: break-word;
}
.arts_hot_top_link {
    margin-right: 3px;
    padding-top: 10px;
    text-align: right;
    word-break: break-all;
    word-wrap: break-word;
}
.bbshot_list {
    width: 620px;
}
.bbshot_list li {
    float: left;
    font-family: "宋体";
    line-height: 20px;
    width: 310px;
}
.bbshot_tag_header {
}
.bbshot_tag_header li {
    float: left;
    height: 27px;
    line-height: 27px;
}
.bbshot_tag_header li img {
}
.bbshot_tag_content {
}
.bbshot_tag_content li {
    float: left;
}
.bbshot_left {
    float: left;
    padding-left: 5px;
    padding-top: 10px;
}
.bbshot_right {
    float: left;
    padding-top: 10px;
}
#flashwall_right1 {
    float: left;
}
#flashwall_right1 {
    background-repeat: no-repeat;
    height: 327px;
    width: 545px;
}
.cflashwall_detailtable {
    cursor: pointer;
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
}
.cshadowright {
    background-image: url("http://img01.51jobcdn.com/im/2009/publish/bg_r.png");
    background-position: right top;
    background-repeat: no-repeat;
    font-size: 0;
    line-height: 0;
    width: 6px;
}
.cshadowbottom {
    background-image: url("http://img01.51jobcdn.com/im/2009/publish/bg_b.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    font-size: 0;
    height: 6px;
    line-height: 0;
}
.cshadowrightbottom {
    background-image: url("http://img01.51jobcdn.com/im/2009/publish/bg_rb.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    font-size: 0;
    height: 6px;
    line-height: 0;
}
.flashwall {
    margin: 0;
    padding: 0;
    width: 524px;
}
.flashwall li {
    background-color: white;
    border-left: 1px solid black;
    border-top: 1px solid black;
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
}
.flashwall_2 {
    margin: 0;
    padding: 0;
    width: 393px;
}
.flashwall_2 li {
    background-color: white;
    border-left: 1px solid black;
    border-top: 1px solid black;
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
}
.cflashwall_tdfilter {
    background-color: #A9A9A9;
    opacity: 0.7;
}
.cflashwall_company_and_job {
    background-color: #EFF8FF;
    width: 200px;
}
.cflashwall_job {
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    padding-left: 10px;
    vertical-align: middle;
}
.cflashwall_company {
    background-color: #0099CC;
    background-image: url("http://img01.51jobcdn.com/im/2009/publish/flash_on_title.gif");
    background-repeat: repeat-x;
    color: white;
    font-size: 12px;
    font-weight: bold;
    height: 22px;
    line-height: 22px;
    padding-left: 10px;
    vertical-align: middle;
}
a.ccompany:link {
    color: white;
    text-decoration: none;
}
a.cjob:link {
    color: #333333;
    text-decoration: none;
}
.zc_new {
    float: left;
    padding-top: 10px;
    text-align: left;
}
.comtext_zc_area1_2 {
    background-color: #FFFFFF;
    height: 41px;
    margin: 0 6px;
    width: 530px;
}
.comtext_zc_area1_2 li {
    float: left;
    font-family: "宋体";
    height: 20px;
    vertical-align: middle;
    width: 260px;
}
.comtext_zc_area1_6 {
    background-color: #FFFFFF;
    height: 132px;
    margin: 0 6px;
    width: 530px;
}
.comtext_zc_area1_6 li {
    float: left;
    font-family: "宋体";
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
    width: 263px;
}
.comtext_zc_area2_2 {
    background-color: #FFFFFF;
    height: 41px;
    margin: 0 6px;
    width: 400px;
}
.comtext_zc_area2_2 li {
    float: left;
    font-family: "宋体";
    height: 20px;
    vertical-align: middle;
    width: 400px;
}
.comtext_zc_area2_6 {
    background-color: #FFFFFF;
    margin: 0 6px;
    width: 400px;
}
.comtext_zc_area2_6 li {
    float: left;
    font-family: "宋体";
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
    width: 400px;
}
.comtext_zc_area2 {
    background-color: #FFFFFF;
    height: 40px;
    margin-left: 6px;
    width: 530px;
}
.comtext_zc_index {
    height: 116px;
    width: 275px;
}
.comtext_zc_index2 {
    height: 32px;
    width: 275px;
}
.adtableb {
    margin-bottom: -7px;
    margin-left: 12px;
    width: 963px;
}
.adtableb td {
    text-align: left;
    width: 187px;
}
.adtableb_xy {
    background-color: #DFFFDA;
    width: 977px;
}
.adtableb_xy td {
    padding-left: 7px;
    padding-top: 7px;
    text-align: left;
    width: 194px;
}
.adtableb_gj {
    background-color: #E2E2E2;
    width: 977px;
}
.adtableb_gj td {
    padding-left: 7px;
    padding-top: 7px;
    text-align: left;
    width: 194px;
}
.adtableb_it {
    background-color: #B8F8FF;
    width: 977px;
}
.adtableb_it td {
    padding-left: 7px;
    padding-top: 7px;
    text-align: left;
    width: 194px;
}
.cnew51ctitle a.newblue:link {
    color: #0258BF;
    font-family: '宋体';
    font-size: 12px;
    text-decoration: none;
}
.cnew51ctd {
    background-color: #F2F2F2;
    height: 60px;
    width: 114px;
}
.adtablec {
    border-left: 1px solid #C6E4FF;
    border-right: 1px solid #C6E4FF;
    padding-top: 7px;
    text-align: left;
    width: 977px;
}
.adtablec td {
    padding-left: 7px;
    text-align: center;
    width: 121px;
}
.adtablec_top {
    border-left: 1px solid #C6E4FF;
    border-right: 1px solid #C6E4FF;
    border-top: 1px solid #C6E4FF;
    padding-top: 7px;
    text-align: left;
    width: 977px;
}
.adtablec_bottom {
    border-bottom: 1px solid #C6E4FF;
    border-left: 1px solid #C6E4FF;
    border-right: 1px solid #C6E4FF;
    padding-top: 7px;
    text-align: left;
    width: 977px;
}
.adtablec_xy {
    border-left: 1px solid #DFFFDA;
    border-right: 1px solid #DFFFDA;
    padding-top: 7px;
    text-align: left;
    width: 977px;
}
.adtablec_xy td {
    padding-left: 7px;
    text-align: center;
    width: 121px;
}
.adtablec_xy_top {
    border-left: 1px solid #DFFFDA;
    border-right: 1px solid #DFFFDA;
    border-top: 1px solid #DFFFDA;
    padding-top: 7px;
    text-align: left;
    width: 977px;
}
.adtablec_xy_bottom {
    border-bottom: 1px solid #DFFFDA;
    border-left: 1px solid #DFFFDA;
    border-right: 1px solid #DFFFDA;
    padding-top: 7px;
    text-align: left;
    width: 977px;
}
.adtablec_gj {
    border-left: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    padding-top: 7px;
    text-align: left;
    width: 977px;
}
.adtablec_gj td {
    padding-left: 7px;
    text-align: center;
    width: 121px;
}
.adtablec_gj_top {
    border-left: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    border-top: 1px solid #E2E2E2;
    padding-top: 7px;
    text-align: left;
    width: 977px;
}
.adtablec_gj_bottom {
    border-bottom: 1px solid #E2E2E2;
    border-left: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    padding-top: 7px;
    text-align: left;
    width: 977px;
}
.adtablec_it {
    border-left: 1px solid #B8F8FF;
    border-right: 1px solid #B8F8FF;
    padding-top: 7px;
    text-align: left;
    width: 977px;
}
.adtablec_it td {
    padding-left: 7px;
    text-align: center;
    width: 121px;
}
.adtablec_it_top {
    border-left: 1px solid #B8F8FF;
    border-right: 1px solid #B8F8FF;
    border-top: 1px solid #B8F8FF;
    padding-top: 7px;
    text-align: left;
    width: 977px;
}
.adtablec_it_bottom {
    border-bottom: 1px solid #B8F8FF;
    border-left: 1px solid #B8F8FF;
    border-right: 1px solid #B8F8FF;
    padding-top: 7px;
    text-align: left;
    width: 977px;
}
.cnew51cimage {
    background-color: #F2F2F2;
    padding-top: 5px;
}
.cnew51ctitle {
    background-color: #F2F2F2;
    padding-left: 5px;
    padding-top: 3px;
    text-align: center;
}
.cnew51dtd {
    height: 30px;
    width: 90px;
}
.cnew51dimage {
    text-align: center;
}
.cnew51d {
    background-color: #C6E4FF;
    margin-left: 0;
    width: 968px;
}
.adtabled {
    background-color: #C6E4FF;
    padding-top: 7px;
    width: 977px;
}
.adtabled td {
    padding-left: 7px;
    text-align: left;
    width: 97px;
}
.adtabled_it {
    background-color: #B8F8FF;
    padding-top: 7px;
    width: 977px;
}
.adtabled_it td {
    padding-left: 7px;
    text-align: left;
    width: 97px;
}
.adtabled_gj {
    background-color: #E2E2E2;
    padding-top: 7px;
    width: 977px;
}
.adtabled_gj td {
    padding-left: 7px;
    text-align: left;
    width: 97px;
}
.adtabled_xy {
    background-color: #DFFFDA;
    padding-top: 7px;
    width: 977px;
}
.adtabled_xy td {
    padding-left: 7px;
    text-align: left;
    width: 97px;
}
.bannerleft {
    padding: 0 5px 10px;
}
#fidea {
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 0;
    padding: 0;
    width: 964px;
}
#anbu {
    background-color: #FFFAF6;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    width: 940px;
}
#anbu li {
    background-image: url("http://img01.51jobcdn.com/im/2009/area/areabtbg.gif");
    background-repeat: no-repeat;
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif,"宋体";
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 1px;
    text-indent: 26px;
    vertical-align: middle;
    width: 183px;
}
#anbu li a:link {
    color: #333333;
    font-size: 12px;
    text-decoration: none;
}
#anbu li a:hover {
    color: #333333;
    font-size: 12px;
    text-decoration: none;
}
#anbu li a:visited {
    color: #333333;
    font-size: 12px;
    text-decoration: none;
}
#anbu_it {
    background-color: #F6FEFF;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    width: 940px;
}
#anbu_it li {
    background-image: url("http://img01.51jobcdn.com/im/2009/it/btn_bg.gif");
    background-repeat: no-repeat;
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif,"宋体";
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 1px;
    text-indent: 15px;
    vertical-align: middle;
    width: 230px;
}
#anbu_it li a:link {
    color: #333333;
    font-size: 12px;
    text-decoration: none;
}
#anbu_it li a:hover {
    color: #333333;
    font-size: 12px;
    text-decoration: none;
}
#anbu_it li a:visited {
    color: #333333;
    font-size: 12px;
    text-decoration: none;
}
#dataidea_1 {
    clear: both;
    margin-top: 16px;
    padding-left: 6px;
}
#dataidea_1 td {
    white-space: nowrap;
}
.dot_bg {
    background-image: url("http://img01.51jobcdn.com/im/2009/area/bgclear_bot.gif");
    background-position: left center;
    background-repeat: repeat-x;
    height: 3px;
    margin: 0 6px;
    width: 98.8%;
}
a.font_show_blues:link {
    color: #0056C2;
    font-family: "宋体";
    font-size: 12px;
    text-decoration: none;
}
a.font_show_blues:visited {
    color: #0056C2;
    font-family: "宋体";
    font-size: 12px;
    text-decoration: none;
}
a.font_show_blues:hover {
    color: #0056C2;
    font-family: "宋体";
    font-size: 12px;
    text-decoration: underline;
}
A.font_show:link {
    color: #333333;
    font-family: "宋体";
    font-size: 12px;
    text-decoration: none;
}
A.font_show:visited {
    color: #7E817E;
    font-family: "宋体";
    font-size: 12px;
    text-decoration: none;
}
A.font_show:hover {
    color: #FF7300;
    font-family: "宋体";
    font-size: 12px;
    text-decoration: none;
}
.input_box {
    border: 1px solid #6F90AF;
    font-weight: bold;
    text-align: center;
}
.resume_dynamic_title {
    color: #0175E8;
}
.resume_dynamic_contents {
    color: #33940B;
}
.diqucengcu td {
    line-height: 24px;
}
.diqucengcu .danshuang {
    background-color: #FFFFFF;
}
.diqucengcu strong {
    color: #FF5F00;
    font-family: Arial,Helvetica,sans-serif;
}
.diqucengcu span {
    color: #0174E7;
}
.window04 {
    background: url("http://img01.51jobcdn.com/im/2009/my/folder/gray_bg02.gif") repeat-x scroll 0 0 transparent;
    border: 1px solid #82868D;
    font-size: 12px;
    overflow: hidden;
    padding: 0;
    width: 326px;
}
.window_title {
    background: url("http://img01.51jobcdn.com/im/2009/my/window_title_bg.gif") repeat-x scroll 0 0 transparent;
    color: #FF5F00;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    padding-left: 20px;
}


table {
	FONT-SIZE: 12px; LINE-HEIGHT: 150%; FONT-FAMILY: '宋体'
}
td {
	FONT-SIZE: 12px; LINE-HEIGHT: 150%; FONT-FAMILY: '宋体';
}
P {
	FONT-SIZE: 12px; LINE-HEIGHT: 150%; FONT-FAMILY: '宋体'
}
.blue {
	COLOR: #256fb8
}
A:link {
	COLOR: #296ebb; TEXT-DECORATION: none
}
A:visited {
	COLOR: black; TEXT-DECORATION: none
}
.cvtitle {font-weight:700; color:#256fb8; font-size:14px; padding-top:5px;}
.blue1 {	COLOR: #ff7400
}
.blue1 {color:#256fb8;}
.blue2 {	COLOR: #ff7400
}
.font14 {font-size:14px;}
.graybutton {color:#676767;}
.v_table001{	width:710px;	line-height:22px;	margin:0 0 10px 10px;	padding:0px;	text-align:left;	}
