.m980 {
  width: 980px;
  margin: 0 auto;
}
.t30 {
  margin-top: 30px;
}
.pop-ui {
  float: left;
  width: 118px;
  margin-right: 30px;
  height: 28px;
  padding: 0;
  line-height: 28px;
  border: 1px solid  #ccc;
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  _border: none;
}
.pop-ui select {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 28px;
  line-height: 28px;
  font-family: "microsoft yahei";
  color: #333;
  font-size: 12px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.pop-ui var {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  _display: none;
  font-style: normal;
  line-height: 28px;
  font-family: "microsoft yahei";
}
.pop-ui var i {
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
  height: 28px;
  overflow: hidden;
  _display: inline;
  background: url("select.png") 0 0 no-repeat;
}
.pop-ui var em {
  font-style: normal;
  font-size: 12px;
  padding-left: 4px;
}
