#js_slider {
    width: 310px;
    height: 265px;
    overflow: hidden;
    z-index: 1;
    margin: 10px auto;
    position: relative;
}

#js_slider .slider-scroll {
    width: 310px;
    overflow: hidden;
}

#js_slider .slider-scroll {
    overflow: hidden;
    height: 220px;
    position: relative;
}

.slider-scroll {
    width: 310px;
    overflow: hidden;
}

.slider-scroll .current {
    display: block;
}

.slider-scroll-img {
    display: none;
    float: left;
    position: relative;
    z-index: 1;
    height: 100%;
}

.slider-scroll-img p {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-indent: 9px;
    font-size: 14px;
    font-weight: bold;
    top: 180px;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
    background: #000\9;
    position: absolute;
}

.slider-scroll-img a, .slider-scroll-img a:visited {
    color: #ececec;
    text-decoration: none;
}

.slider-scroll-img a:hover {
    color: #fff;
}

#js_slider .slider-scroll-item {
    float: left;
    height: 100%;
    background: #fff;
    width: 310px;
}

.nav-wrap {
    text-align: center;
    padding-top: 6px;
    height: 20px;
}

.nav-item {
    display: inline-block;
    width: 24px;
    height: 20px;
    margin: 0 1px;
    background-position: -24px -782px;
    text-indent: -10em;
    overflow: hidden;
    cursor: pointer;
}

.nav-wrap-b .nav-item {
    width: 30px;
    background-position: -32px -842px;
}

.nav-wrap .current_static {
    background-position: -24px -762px;
}

.nav-wrap .current {
    background-position: -24px -762px;
    -moz-animation: a_slidercurrent 5s linear;
    -webkit-animation: a_slidercurrent 5s linear;
    -o-animation: a_slidercurrent 5s linear;
    animation: a_slidercurrent 5s linear;
}

.nav-wrap-b .current_static {
    background-position: -32px -822px;
}

.nav-wrap-b .current {
    background-position: -32px -822px;
    -moz-animation: a_slidercurrent_b 5s linear;
    -webkit-animation: a_slidercurrent_b 5s linear;
    -o-animation: a_slidercurrent_b 5s linear;
    animation: a_slidercurrent_b 5s linear;
}

.nav-wrap-prev, .nav-wrap-next {
    opacity: .5;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    width: 30px;
    height: 35px;
    cursor: pointer;
    text-indent: -10em;
}

.nav-wrap-prev:hover, .nav-wrap-next:hover {
    opacity: 1;
}

.nav-wrap-prev {
    background-position: 6px top;
    left: 0;
    top: 40%;
    margin-top: -15px;
}

.nav-wrap-next {
    background-position: -6px -45px;
    right: 0;
    top: 40%;
    margin-top: -15px;
}

.nav-wrap-prev, .nav-wrap-next, .nav-item, .nav-wrap .current {
    background-image: url(i/icon_v9.png);
    background-repeat: no-repeat;
}

.i-entry {
    padding: 2px 22px 2px 0;
    background-position: right -89px;
}